# Python
# ------
*.pyc
.cache/
__pycache__
**/.pytest_cache/
**/.ipynb_checkpoints/
venv
.venv
poetry.lock

# Sphinx
# ------
docs/build

# Intellij
# --------
/.idea
*.iml
.run

# Other
# -----
tmp/
*.log
*.html
*.png

# Project-specific
# ----------------
