# Configuration for pre-commit CI github app integration
# Reference: https://pre-commit.ci/
ci:
  autofix_prs: false
  autoupdate_schedule: "quarterly" # Checks for hook updates pulled from pre-commit hook repo
  skip: [no-commit-to-branch, ccv] # Allows checks to run on main branch in CI

# Configuration for pre-commit hooks (local or in CI)
# Reference: https://pre-commit.com/
repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v6.0.0
    hooks:
      - id: check-added-large-files
        args: ["--maxkb=1000"] # 1MB
      - id: detect-private-key
      - id: mixed-line-ending
      - id: trailing-whitespace
      - id: no-commit-to-branch # Prevents committing to main
        args: [--branch, main, --branch, dev]
      - id: check-yaml
      - id: check-json
  - repo: https://github.com/pre-commit/mirrors-prettier
    rev: v3.0.3
    hooks:
      - id: prettier
        types_or: [yaml, json, markdown]
  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.14.10
    hooks:
      - id: ruff
        args: [--fix]
      - id: ruff-format
  - repo: https://github.com/codespell-project/codespell
    rev: v2.4.1
    hooks:
      - id: codespell
        additional_dependencies:
          - tomli
        files: ^.*\.(py|md|rst|yml)$
  - repo: https://github.com/mashi/codecov-validator
    rev: 1.0.1
    hooks:
      - id: ccv
