[tool.poetry]
name = "lasp-curryer"
version = "0.0.7"
packages = [
    { include = "curryer" }
]
description = "LASP SPICE extentions and geospatial data product generation tools."
authors = [
    "Brandon Stone <brandon.h.stone@colorado.edu>"
]
readme = "README.md"
license = "MIT"
keywords = ["LASP", "SDP"]
classifiers = [
    "Development Status :: 3 - Alpha",
    "Intended Audience :: Developers",
    "License :: OSI Approved :: MIT License",
    "Natural Language :: English",
    "Programming Language :: Python :: 3",
    "Programming Language :: Python :: 3.9",
    "Programming Language :: Python :: 3.10",
    "Programming Language :: Python :: 3.11",
    "Topic :: Software Development",
    "Topic :: Scientific/Engineering",
    "Operating System :: POSIX",
    "Operating System :: Unix",
    "Operating System :: MacOS",
]

[project.urls]
repository = "https://github.com/lasp/curryer"

[tool.poetry.dependencies]
python = ">=3.9,<4"
numpy = "^1.23"
scipy = ">=1.9"
pandas = ">=1.5"
xarray = ">=2022.11"
netcdf4 = ">=1.6"
pyhdf = ">=0.11"
rioxarray = ">=0.15"
rasterio = "=1.3.9"
pyproj = ">=3.6"
pyshp = ">=2.3"
requests = ">=2.28"
jinja2 = ">=3"
spiceypy = ">=6"
openpyxl = ">=3"

[tool.poetry.dev-dependencies]
pytest = ">=7.1"
pytest-cov = ">=3"
pylint = ">=2"
ipython = ">=8.4"

#[tool.poetry.scripts]
#curryer = 'curryer.__main__:main'

[build-system]
requires = ["poetry-core>=1.0.0"]
build-backend = "poetry.core.masonry.api"
